<header>
    <nav>
        <ul>
            {# <li><a href="{{ request.url_for('my_tickets') }}">Мои тикеты</a></li> #}
            {# <li><a href="{{ request.url_for('my_tickets') }}">Что нужно сделать</a></li> #}
            {# <li><a href="{{ request.url_for('my_tickets') }}">Друзья</a></li> #}
            {# <li><a href="{{ request.url_for('my_tickets') }}">Черный список</a></li> #}
            {# <li><a href="{{ request.url_for('my_tickets') }}">Подписчики</a></li> #}
            {# <li><a href="{{ request.url_for('my_tickets') }}">Фолловеры</a></li> #}
            {# <li><a href="{{ request.url_for('my_tickets') }}">Войти</a></li>  #}
        </ul>
    </nav>
</header>