{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<h2>Регистрация</h2>
<form action="{{ request.url_for('register_user') }}" method="post">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="username">Имя пользователя:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Зарегистрироваться" class="btn">
</form>
{% endblock %}
